In [1]:
import pandas as pd

In [2]:
x = pd.DataFrame()

In [3]:
x[ 'a' ] = [ 'aaa', 'bbb', 'ccc' ]

In [4]:
x

     a
0  aaa
1  bbb
2  ccc

In [5]:
x[ 'a' ]

0    aaa
1    bbb
2    ccc
Name: a, dtype: object

In [8]:
y = []

for element in x[ 'a' ]:

    if ( element == 'bbb' ):

        y.append( 'ddd' )

    else:

        y.append( element )

In [10]:
y

['aaa', 'ddd', 'ccc']

In [11]:
x[ 'a' ] = y

In [12]:
x

     a
0  aaa
1  ddd
2  ccc